.header {
  display: flex;
  justify-content: space-between; /* pushes “About Us” to the right */
  align-items: center;
  padding: 15px 20px;
  background-color: rgb(0, 221, 255);
  color:rgb(0, 0, 0);
  border-bottom: 2px solid #ddd;
}
*{
    
}
.title {
  font-size: 32px;
  font-weight: bold;
  
}

.about {
  font-size: 18px;
  cursor: pointer;
}
.home {
  min-height: 100vh;
  background-color: #9a0404;
  padding: 40px;
}



.hero{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 50px;
  border-radius: 10px;
}

.hero-text{
  max-width:500px;
}
.hero-text h1{
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 15px;
  color: #000000;
}
.hero-text p{
  color: #555;
  margin-bottom: 25px;
}

.shop-btn{
    padding: 12px 25px;
    background-color: #000000;
    color: rgb(251, 251, 251);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
.shop-btn:hover{
  background-color: #ffffff;
  color:black;
}

.hero-image img{
  width:350px;
  border-radius: 10px;
}

.features{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  text-align: center;
}

.feature{
  background: white;
  color:black;
  padding: 10px;
  width: 22%;
  border-radius: 8px;
}